Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a=[1,'35','Prajjwal', 4.35,'(vivek)',3+5j ]

In [2]:
a

['1', '35', 'Prajjwal', '4.35', '(vivek)']

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1
What will be the data type of the above given variable.

In [3]:
var1=' '

In [4]:
type(var1)

str

In [5]:
var2='[ DS,ML,Python]'

In [6]:
type(var2)

str

In [7]:
var3=['DS","ML','Python']

In [8]:
type(var3)

list

In [9]:
var4=1

In [10]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [11]:
a=10#/divsion operator
b=5
c=a/b

In [12]:
c

2.0

In [13]:
c=a//b#Floor division

In [14]:
c

2

In [15]:
c=a&b#modulo operator

In [16]:
c

0

In [17]:
c=a**b

In [18]:
c

100000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [19]:
l=[12,'prajjwal',3.43,'(name)','{key:value}',(2),'lk',34.3,'0.003','4.g']
for i in l:
    print(i,type(i))

12 <class 'int'>
prajjwal <class 'str'>
3.43 <class 'float'>
(name) <class 'str'>
{key:value} <class 'str'>
2 <class 'int'>
lk <class 'str'>
34.3 <class 'float'>
0.003 <class 'str'>
4.g <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
a=int(input())
b=int(input())
while b>=0:
    if a%b ==0:
        i=a/b
        print(i)
        break

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
import random

l=[]
n=25
for i in range(1,n+1):
    l.append(random.randint(1,100))
print(l)
for i in l:
    if i%3==0:
        print("YES")
    else:
        print("NO")

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable = Assignment is allow in data set::   
Immutable= Assignment is not allow in data set

In [ ]:
s='Prajjwal'
l=['Vivek','srivastava',21,'Lucknow']
print(s)
print(l)
l[3]='Noida'
print(l,"after updation. Update successfully its mean list is mutable data type")
s[3]='V'
print("It will through an error ['str' object does not support item assignment]")
print(s)#String is not mutable